files:
    "/etc/httpd/conf.d/enable_hsts.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            Header unset Content-Security-Policy
            Header add Content-Security-Policy "default-src 'unsafe-inline' 'self' marysastrotalks.eu-west-2.elasticbeanstalk.com *.google.com;"
            Header unset X-Content-Security-Policy
            Header add X-Content-Security-Policy "default-src 'self' *.elasticbeanstalk.com;"
            Header unset X-WebKit-CSP
            Header add X-WebKit-CSP "default-src 'self' *.elasticbeanstalk.com;"
            Header set X-Content-Type-Options "nosniff"
            Header set X-XSS-Protection "1; mode=block"
            Header set X-Frame-Options "DENY"
            Header set Strict-Transport-Security "max-age=631138519; includeSubDomains"
            Header always set Referrer-Policy "no-referrer"
