files:
    "/etc/httpd/conf.d/enable_hsts.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            Header unset Content-Security-Policy
            Header add Content-Security-Policy "default-src 'unsafe-inline' 'unsafe-eval' 'self'  clearoutside.com *.leafletjs.com *.openlayers.org *.openstreetmap.org  marysastrotalks.eu-west-2.elasticbeanstalk.com *.google.com *.gstatic.com *.google-analytics.com *.googleapis.com *.facebook.net *.facebook.com http://*.metoffice.gov.uk;"
            Header add Content-Security-Policy "script-src 'unsafe-inline' 'unsafe-eval' 'self'  clearoutside.com *.leafletjs.com *.openlayers.org *.openstreetmap.org  marysastrotalks.eu-west-2.elasticbeanstalk.com *.google.com *.gstatic.com *.google-analytics.com *.googleapis.com *.facebook.net *.facebook.com http://*.metoffice.gov.uk;"
            Header unset X-Content-Security-Policy
            Header add X-Content-Security-Policy "default-src 'self' *.elasticbeanstalk.com;"
            Header unset X-WebKit-CSP
            Header add X-WebKit-CSP "default-src 'self' *.elasticbeanstalk.com 'unsafe-inline' clearoutside.com *.leafletjs.com openlayers.org openstreetmap.org;"
            Header add X-WebKit-CSP "script-src 'self' 'unsafe-inline' leafletjs.com google-analytics.com;"
            Header set X-Content-Type-Options "nosniff"
            Header set X-XSS-Protection "1; mode=block"
            #Header set X-Frame-Options "DENY"
            Header set Strict-Transport-Security "max-age=631138519; includeSubDomains"
            Header always set Referrer-Policy "no-referrer"
