files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_mma_postdeploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      chmod +x /var/www/html/markmcintyreastro/planetgraphs/runscript.sh 
      cd /var/www/html/markmcintyreastro/planetgraphs/src
      mkdir objs
      make
      \cp orbitcalcs ..  
      cd ..
      chmod +x orbitcalcs
      chmod +x getmpcdata
      \cp getmpcdata /etc/cron.daily
      dos2unix getmpcdata -o getmpcdata
      ./getmpcdata
      chown webapp:webapp orbitcalcs MPCORB* Comet*
      