files:
    "/etc/httpd/conf.d/vhost.conf":
        mode: "000644"
        owner: root
        group: root
        encoding: plain
        content: |
          <Virtualhost *:80>
          ServerName www.markmcintyreastro.co.uk
          ServerAlias markmcintyreastro.co.uk
          DocumentRoot /var/www/html/markmcintyreastro
          </VirtualHost>
          <Virtualhost *:80>
          ServerName www.marymcintyreastronomy.co.uk
          ServerAlias marymcintyreastronomy.co.uk
          DocumentRoot /var/www/html
          </VirtualHost>

